//
// Buttons
// --------------------------------------------------

.btn {
	display: inline-block;
	background-color: $purple;
	padding: 5px 20px;
	color: $white;
	border-radius: 3px;
	border-bottom: 3px solid $purple-dark;
	@include transition(all 200ms ease);
	&:hover {
		@include transition(all 200ms ease);
		background-color: $magenta;
		border-color: darken($magenta, 5%);
		color: $white;
	}
}

.start-button {
	display: inline-block;
	text-align: center;
	hr {
		background: transparent;
		border: 0;
		border-top: 2px dashed darken($purple, 8%);
	}
	a {
		display: inline-block;
		background-color: $yellow;
		color: $purple;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		padding: 0px 50px;
		height: 50px;
		line-height: 50px;
		border-radius: 30px;
		border-bottom: 3px solid darken($yellow, 10%);
		@include transition(all 200ms ease);
		&:hover {
			background-color: $magenta;
			color: $white;
			border-color: darken($magenta, 10%);
			@include transition(all 200ms ease);
		}
	}
	&.has-border {
		width: 60%;
		padding: 50px 0 0 0;
		a {
			position: relative;
			top: -35px;
		}
	}
} // .start-button


.wishlist-btn {
	background: transparent;
	border: 0;
	color: $pink;
	@include transition(all 200ms ease);
	outline: none;
	&.active {
		color: $purple-dark;
	}
}


@media (max-width: 767px) {
	.start-button {
		hr { display: none;	}
		a {
			height: 40px;
			line-height: 40px;
			width: auto;
			padding: 0 30px;
		}
		&.has-border {
			width: 100%;
		}
	}
}