//
// Footer
// --------------------------------------------------
footer {
	text-align: center;
	@include clearfix();
	padding: 60px 0;

	hr {
		background: transparent;
		border: 0;
		border-top: 1px solid $pink-dark;
	}

	.icon {
		width: 100%;
		margin: -40px auto 30px auto;
		height: 60px;
		text-align: center;
		a {
			border: 1px solid darken($pink-dark, 4%);
			display: inline-block;
			width: 60px;
			height: 60px;
			line-height: 55px;
			border-radius: 40px;
			background-color: $pink-dark;
			@include transition(all 200ms ease);
			img {
				width: 30px;
			}
			&:hover {
				background-color: $magenta;
				@include transition(all 200ms ease);
			}
		}
	}

	.copyright {
		clear: both;
		p {
			font-size: 15px;
			color: $pink;
			line-height: 20px;
		}
	}

	&.home {
		background-color: $purple;
		hr {
			border-color: darken($purple, 5%);
		}
		.icon a {
			background-color: darken($purple, 5%);
			border-color: darken($purple, 8%);
		}
	}

} // footer

