//
// Listing of all Loopsies
// --------------------------------------------------

.list-filters {
	background-color: $pink-lighter;
	@include unstyled();
	@include clearfix();
	border: 1px solid $pink-dark;
	border-radius: 4px;
	max-width: 500px;
	margin: 0 auto 30px auto;
	li {
		float: left;
		width: 50%;
		padding: 8px;
		border-left: 1px solid $pink-dark;
		text-align: center;
		@include clearfix();
		&:first-child {
			border: 0;
		}
		label {
			display: inline-block;
			margin-right: 8px;
		}
		select {
			min-width: 150px;
		}
	}
	&.loggedin {
		max-width: 100%;
		li {
			width: 33.33%;
		}
	}
} // .list-filters


.loopsy-gallery {
	@include unstyled();
	@include clearfix();
	border-top: 1px dashed $pink-dark;
	padding: 20px 0;
	&.first {
		border: 0;
	}
	li {
		float: left;
		width: 33.33%;
		text-align: center;
		img {
			width: 100%;
		}
		.doll {
			width: 75%;
			background-color: $pink-lighter;
			border-radius: 4px;
			@include transition(all 200ms ease);
			border: 1px solid $pink-light;
		}
		&.has {
			.doll {
				background-color: $magenta;
				border: 1px solid $magenta;
				@include transition(all 200ms ease);
				img {
					opacity: .5;
				}
				p {
					color: $white;
				}
			}
			.status-switch {
				div {
					background-color: $magenta;
				}
			}
		}
		.title {
			margin: 0 auto 0px auto;
			text-align: left;
			font-size: 18px;
			padding: 8px;
			@include clearfix();
			p {
				margin: 4px 0 0 0;
				float: left;
			}
			button {
				float: right;
			}
		}
		a {
			color: $purple;
		}

		// Status switch in gallery view
		.status-switch {
			margin: 0;
			&.loggedout {
				height: 8px;
				background-color: $pink-lighter;
				border-radius: 0 0 4px 4px;
			}
			div {
				border-radius: 0 0 4px 4px;
				border: 0;
				padding: 0;
				ul {
					background: transparent;
					li a {
						height: 40px;
					}
				}
				i {
					font-size: 20px;
				}
				span {
					width: 50%;
					height: 30px;
					top: 5px;
					left: 5px;
					background-color: $pink-light;
					&.right {
						background-color: $white;
						left: 48%;
					}
				}
			}
		} // Status Switch
	} // li
} // .loopsy-gallery


// Details list on single view
.loopsy-details {
	@include unstyled();
	background-color: $pink-lighter;
	border: 1px solid $pink-dark;
	border-radius: 4px;
	li {
		padding: 8px;
		border-top: 1px dashed darken($pink-dark, 5%);
		line-height: 18px;
		@include clearfix();
		&:first-child {
			border: 0;
		}
		strong {
			float: left;
			width: 35%;
			color: $purple;
		}
		span {
			float: right;
			width: 60%;
		}
	}
} // .loopsy-details


@media (max-width:767px){

	.list-filters {
		li {
			float: none;
			width: 100%;
			text-align: left;
			border: 0;
			border-top: 1px solid $pink-dark;
			label {
				float: left;
				width: 30%;
			}
			select {
				float: right;
				width: 60%;
			}
		}
		&.loggedin li {
			width: 100%;
		}
	}

	.loopsy-gallery {
		border: 0;
		padding: 0;
		li {
			float: none;
			width: 100%;
			margin-bottom: 20px;
			.doll {
				margin: 0 auto;
			}
			img {
				width: 100%;
			}
			ul li {
				margin-bottom: 0;
			}
		}
	}

} // media query