//
// Page Header
// --------------------------------------------------

.page-header {
	background-color: $pink-lighter;
	margin-bottom: 30px;
	text-align: center;
	color: $purple;
	border-bottom: 1px solid $pink-dark;
	h1 {
		font-size: 24px;
		-webkit-font-smoothing: antialiased;
		em {
			font-style: normal;
			color: $magenta;
		}
		.btn {
			font-size: 14px;
			padding: 3px 10px;
			border: 0;
			margin-top: 10px;
		}
	}
} // .page-header