//
// Top Nav Area
// --------------------------------------------------

.top-nav {
	padding-top: 20px;
	padding-bottom: 15px;
	@include clearfix();
	background-color: $purple-dark;
	border-bottom: 3px solid $magenta;

	&.front-page {
		background: transparent;
		background-color: rgba(0,0,0,.15);
		border: 0;
		border-bottom: 1px dashed $magenta;
	}

	.logo {
		float: left;
		a {
			display: block;
			height: 40px;
			font-weight: bold;
			font-size: 22px;
			margin:-5px 40px 0 0;
			color: $white;
			background-color: rgba(255,255,255,.08);
			border: 1px solid rgba(255,255,255,.1);
			padding: 6px 20px;
			border-radius: 20px;
			@include transition(all 200ms ease);
			em {
				@include transition(all 200ms ease);
				font-style: normal;
				color: $pink;
			}
			&:hover {
				background-color: $white;
				color: $purple;
				@include transition(all 200ms ease);
				em {
					@include transition(all 200ms ease);
					color: $magenta;
				}
			}
		} // a
	} // .logo

	ul {
		@include unstyled();
		@include clearfix();
		li {
			float: left;
			margin-left: 30px;
			position: relative;
			z-index: 1;
			a {
				color: $yellow;
				&:hover {
					color: $white;
				}
				i {
					font-size: 15px;
					color: $magenta;
					position: relative;
					top: 1px;
					margin-right: 5px;
				}
			}
			&:last-child {
				margin: 0;
			}
			ul {
				display: none;
				position: absolute;
				right: 0;
				top: 30px;
				width: 170px;
				background-color: $white;
				border: 1px solid darken($white, 10%);
				border-radius: 3px;
				@include box-shadow(1px 1px 3px 0px rgba(0,0,0,.3));
				li {
					float: none;
					text-align: left;
					margin: 0;
					&:first-child {
						position: relative;
						&:before {
							content: '';
							width: 10px;
							height: 10px;
							position: absolute;
							border-bottom: 8px solid $white;
							border-left: 8px solid transparent;
							border-right: 8px solid transparent;
							top: -10px;
							left: 75px;
						}
					}
					a {
						display: block;
						color: $purple;
						border-top: 1px solid $pink-light;
						padding: 8px;
						&:hover {
							color: $magenta;
							i {
								color: $purple;
								@include transition(all 200ms ease);
							}
						}
					}
					i {
						color: $pink;
						font-size: 15px;
						margin-right: 8px;
						position: relative;
						top: 1px;
						@include transition(all 200ms ease);
					}
					&:first-child a {
						border: 0;
					}
				}
			} // ul 2
			&:hover ul {
				display: block;
			}
		} // li
	} // ul
} // .top-nav


.login-btn {
	position: relative;
	top: -5px;
	display: block;
	background-color: rgba(0,0,0,.08);
	border: 1px solid rgba(0,0,0,0.2);
	padding: 4px 20px;
	border-radius: 2px;
	color: $white !important;
	margin-left: 30px;
	@include transition(all 200ms ease);
	&:hover {
		background-color: rgba(0,0,0,.3);
		color: $white;
		@include transition(all 200ms ease);
	}	
}
.nav-toggle {
	display: none;
	float: right;
}


@media (max-width: 767px){
	.top-nav {
		.logo a {
			display: block;
			height: 40px;
			font-weight: bold;
			font-size: 18px;
			margin:-5px 40px 0 0;
			color: $white;
			background-color: rgba(255,255,255,.08);
			border: 1px solid rgba(255,255,255,.1);
			padding: 6px 20px;
		} // .logo
	}
	.top-nav ul {
		display: none;
	}
	.nav-toggle {
		margin: 0;
		height: 40px;
		line-height: 40px;
		padding-top: 0;
		display: inline-block;
	}
}
@media (min-width: 768px){
	
}

