//
// Alerts
// --------------------------------------------------
.alert {
	padding: 6px;
	border-radius: 4px;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 8px;
}

.alert-info {
	background-color: #d0f0fd;
	border: 1px solid darken(#d0f0fd, 5%);
	a {
		color: $purple;
	}
}

.alert-danger {
	background-color: $red;
	color: $white;
}