//
// Base Forms
// --------------------------------------------------

// Honeypot field
.hpr {
	position: absolute;
	left: -9999px;
}

label {
	display: block;
}


input[type='text'],
input[type='email'],
input[type='password']{
	background-color: $white;
	border: 1px solid $pink-light;
	font-size: 18px;
	color: $purple;
	padding: 0px 10px;
	height: 45px;
	@include transition(all 200ms ease);
	border-radius: 2px;
	&:focus {
		outline: none;
	}
	&::-webkit-input-placeholder { color: $purple; }
	&:-moz-placeholder { color: $purple; }
	&::-moz-placeholder { color: $purple; }
	&:-ms-input-placeholder { color: $purple; }
}

input[type='submit']{
	background-color: $purple;
	color: $white;
	font-size: 18px;
	border: 0;
	border-radius: 3px;
	padding: 12px 30px;
	border-bottom: 3px solid darken($purple, 10%);
	@include transition(all 200ms ease);
	&:hover {
		background-color: $red;
	}
}


// Validation
.has-feedback {
	input {
		position: relative;
	}
}
.has-error {
	input {
		border-color: $error;
		border-width: 2px;
	}
}
.has-success {
	input {
		border-color: $success;
		border-width: 2px;
	}
}