//
// Base Forms
// --------------------------------------------------

// Honeypot field
.hpr {
	position: absolute;
	left: -9999px;
}

label {
	display: block;
}


input[type='text'],
input[type='email'],
input[type='password']{
	background-color: $white;
	border: 1px solid $pink-light;
	font-size: 18px;
	color: $purple;
	padding: 0px 10px;
	height: 45px;
	@include transition(all 200ms ease);
	border-radius: 2px;
	&:focus {
		outline: none;
	}
	&::-webkit-input-placeholder { color: $pink; }
	&:-moz-placeholder { color: $pink; }
	&::-moz-placeholder { color: $pink; }
	&:-ms-input-placeholder { color: $pink; }
}

input[type='submit']{
	background-color: $purple;
	color: $white;
	font-size: 18px;
	border: 0;
	border-radius: 3px;
	padding: 12px 30px;
	border-bottom: 3px solid darken($purple, 10%);
	@include transition(all 200ms ease);
	&:hover {
		background-color: $red;
	}
}

#toggle-password {
	position: absolute;
	background-color: $magenta;
	color: $white;
	display: inline-block;
	padding: 3px 8px;
	border-radius: 2px;
	right: 10px;
	top: 17px;
	@include transition(all 200ms ease);
	&:hover {
		background-color: $purple;
		@include transition(all 200ms ease);
	}
}

.submit {
	text-align: center;
	padding-top: 20px;
}

.small-form {
	max-width: 560px;
	margin: 0 auto 0 auto;
	.fields {
		background-color: $pink-lighter;
		border: 1px solid $pink-dark;
		padding: 15px;
		border-radius: 4px;
	}
	.form-group {
		border-top: 1px dashed $pink-light;
		position: relative;
		padding: 10px 0;
		@include clearfix();
		&.first {
			 border: 0;
			 padding-top: 0;
		}
		&.last {
			padding-bottom: 0;
		}
		label {
			float: left;
			width: 25%;
			color: $purple;
			margin-top: 8px;
			&.checkbox {
				float: none;
				width: 80%;
				margin: 0 auto;
				line-height: 20px;
				input[type='checkbox']{
					float: left;
					margin:5px 5px 20px 0px;
				}
			}
		}
		input[type='text'],
		input[type='email'],
		input[type='password'],
		input[type='tel']{
			float: right;
			width: 75%;
		}
	}
} // .small-form

.form-group.textarea {
	label {
		float: none;
		width: 100%;
		margin-bottom: 8px;
	}
}


// Validation
.has-feedback {
	input {
		position: relative;
	}
}
.has-error {
	input {
		border-color: $error;
		border-width: 2px;
	}
}
.has-success {
	input {
		border-color: $success;
		border-width: 2px;
	}
}


@media (max-width: 767px) {

	#toggle-password {
		margin-top: 24px;
	}

	.small-form {
		.fields {
			padding: 10px;
		}
		.form-group {
			padding: 10px 0;
			label {
				float: none;
				width: 100%;
				margin-top: 0;
				&.checkbox {
					width: 100%;
				}
			}
			input[type='text'],
			input[type='email'],
			input[type='password'],
			input[type='tel']{
				float: none;
				width: 100%;
			}
		}
	} // .small-form

} // media query