//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing

*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height:100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: #000;
  height:100%;
  overflow-x: hidden;
  width:100%;
  background-color: $white;
}

.content {
  background-color: $white;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}


// Links

a {
  color: $magenta;
  text-decoration: none;
  @include transition(color 200ms ease);

  &:hover,
  &:focus {
  color: darken($magenta, 20%);
  text-decoration: none;
	@include transition(color 200ms ease);
  }
}


// Images
img {
  vertical-align: middle;
  max-width:100%;
  height:auto;
}


// Containers
.container {
	max-width:1050px;
	margin:0 auto;
	@include box-sizing(border-box);
	padding:0 20px;
	@include clearfix();
	&.small {
		max-width:600px;
	}
  &.pad-top {
    padding-top: 10px;
  }
}


// Selection Colors
::selection {
  background: $magenta;
  color: #ffffff;
}
::-moz-selection {
  background: $magenta;
  color: #ffffff;
}