//
// Signup Page(s)
// --------------------------------------------------

.signup-hero {
	text-align: center;
	background: url('../images/home-montage.jpg'), repeat;
	color: $white;
	padding: 60px 0;
	margin-bottom: 40px;
	h1 {
		@include bello();
		font-size: 86px;
		line-height: 70px;
		margin: 0 0 8px 0;
		em {
			font-style: normal;
			color: $yellow;
		}
	}
	p {
		font-size: 22px;
		margin: 0;
	}
} // .signup-hero

// 3 steps
.signup-steps {
	@include unstyled();
	@include clearfix();
	margin-bottom: 30px;
	li {
		float: left;
		width: 33.33%;
		line-height: 18px;
		font-size: 15px;
		padding: 10px 0;
		text-align: center;
		background-color: $pink-lighter;
		border: 1px solid $pink-dark;
		color: $pink;
		strong {
			display: block;
		}
		&:last-child {
			border-left: 0;
			border-radius: 0px 3px 3px 0px;
		}
		&:first-child {
			border-right: 0;
			border-radius: 3px 0px 0px 3px;
		}
		&.active {
			//background-color: $purple;
			color: $purple;
			//border-color: $purple
		}
	}
} // .signup-steps

@media (max-width: 767px){

	.signup-hero {
		padding: 30px 0;
		margin-bottom: 20px;
		h1 {
			font-size: 50px;
			line-height: 40px;
		}
		p {
			font-size: 18px;
		}
	} 

}