//
// Top Nav Area
// --------------------------------------------------

.top-nav {
	padding-top: 20px;
	padding-bottom: 15px;
	@include clearfix();
	background-color: $purple-dark;
	border-bottom: 3px solid $magenta;

	&.front-page {
		background: transparent;
		padding-bottom: 0;
		border: 0;
	}

	.logo {
		float: left;
		font-weight: bold;
		font-size: 22px;
		margin-right: 40px;
		color: $white;
		em {
			font-style: normal;
			color: $pink;
		}
	}

	ul {
		@include unstyled();
		@include clearfix();
		li {
			float: left;
			margin-left: 30px;
			position: relative;
			a {
				color: $yellow;
			}
			&:last-child {
				margin: 0;
			}
			ul {
				display: none;
				position: absolute;
				right: 0;
				top: 30px;
				width: 150px;
				background-color: $white;
				border-radius: 3px;
				@include box-shadow(1px 1px 3px 0px rgba(0,0,0,.3));
				li {
					float: none;
					text-align: left;
					margin: 0;
					a {
						display: block;
						color: $purple;
						border-top: 1px solid $pink-light;
						padding: 8px;
						&:hover {
							color: $magenta;
						}
					}
					&:first-child a {
						border: 0;
					}
				}
			} // ul 2
			&:hover ul {
				display: block;
			}
		} // li
	} // ul
} // .top-nav


.login-btn {
	position: relative;
	top: -5px;
	display: block;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 4px 20px;
	border-radius: 2px;
	color: $white;
	margin-left: 30px;
	@include transition(all 200ms ease);
	&:hover {
		background-color: $purple;
		color: $white;
		@include transition(all 200ms ease);
	}	
}
.nav-toggle {
	display: none;
	float: right;
}


@media (max-width: 767px){
	.top-nav ul {
		display: none;
	}
	.nav-toggle {
		display: inline-block;
	}
}
@media (min-width: 768px){
	
}

