//
// Variables
// --------------------------------------------------

// Colors
$white: #ffffff;
$purple: #8e2275;
$magenta: #ef5ba1;
$red: #bf1e4f;
$yellow: #ffcb08;
$pink-lighter: #fff4f9;
$pink-light: #fad5e5;
$pink: #f49ac1;

$error: $red;
$success: #3daf05;